// margins
$margin-1: 1.5rem;
$margin-2: 2rem;

// colours
$color-pink: #ff3998;
$color-gray: #555;
$color-gray-2: #777777;
$color-gray-2: #999999;
$color-light-gray: #eeeeee;
$color-orange: #ff8139;

// font sizes
$font-0-75: 0.75rem;
$font-1: 1rem;
$font-1-125: 1.125rem;
$font-1-25: 1.25rem;
$font-2: 2rem;
$font-2-5: 2.5rem;
$font-3: 3rem;
