.footer {
  @include flex(flex, space-between) {
    flex-direction: column;
  }

  &__logo {
    height: 2.25rem;
    margin: 3rem auto $margin-2 $margin-2;
  }
  &__exclusive {
    margin: 0 auto $margin-2 $margin-2;
    font-size: $font-1-25;
    color: $color-gray;
  }

  &__networks {
    margin-left: $margin-2;
  }

  &__media-logo {
    height: 1.125rem;
    width: 1.125rem;
    margin-bottom: 4rem;
    margin-right: 0.65rem;
  }

  &__links {
    margin-left: $margin-2;
    @include grid(grid, 1fr 1fr, 0.7fr 1fr) {
      grid-row-gap: 2.5rem;
    }
  }
  &__list {
    font-size: $font-1-25;
  }
  &__item-header {
    margin-bottom: 1.5rem;
    font-size: $font-1;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: $color-gray;
  }
  &__item {
    font-size: $font-1-25;
    line-height: 200%;
  }
  &__item-link {
    color: $color-gray;
  }
  &__copyright-text {
    font-size: $font-1-25;
    color: rgb(168, 168, 168);
    margin: $margin-2 auto 6rem $margin-2;
  }
  &__launching-text {
    font-size: $font-1-25;
    color: rgb(168, 168, 168);
    display: none;
  }
}

@include tablet {
  .footer {
    margin: 0 2rem 0 2rem;
    flex-direction: row;
    align-items: center;
    height: 20rem;

    &__logo,
    &__exclusive,
    &__networks,
    &__media-logo {
      margin: 0;
    }
    &__logo {
      margin-bottom: 0.7rem;
    }
    &__exclusive {
      margin-bottom: 1rem;
    }
    &__media-logo {
      margin-right: 0.8rem;
    }
    &__links {
      @include grid(grid, 1fr, 1fr 1fr 1fr 1fr) {
        column-gap: 7rem;
      }
    }
    &__bottom {
      @include flex(flex, space-between);
      width: calc(100vw - 4rem);
      margin-bottom: 3rem;
    }
    &__copyright-text {
      margin: 0;
      margin-left: 2rem;
    }
    &__launching-text {
      display: block;
    }
  }
}
